.List {
  background-color: #fff;
  width: 70vw;
  max-width: 600px;
  margin: 0px auto;
  padding: 20px;
}

.movie {
  width: 85%;
  background-color: #f6f6f5;
  height: 110px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 3px #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.Settings {
  border: 1px solid #ccc;
  width: 85%;
  margin: 2px auto;
}

.ModalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
